* {
  padding: 0%;
  margin: 0%;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.main-section .section__container .section__content .content__form .form__title, .main-section .section__container .section__content .content-top .title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 178.5714285714%;
  color: #000000;
}

.footer .footer__container .footer__copy .copy__list .copy__item a, .footer .footer__container .footer__copy .copy__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 188.8888888889%;
  color: #323232;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.button a {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #0F3D33;
  line-height: 118.75%;
  background-color: #50E3C2;
  border-radius: 3px;
  padding: 15px 28px 16px 29px;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 145px;
  position: absolute;
  top: 0;
  left: 0;
}
.header .header__container {
  max-width: 1188px;
  width: 74%;
  padding: 10px;
  margin: 0 auto;
}
.header .header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .header__menu .menu__list .menu_item {
  margin-left: 30px;
}
.header .header__menu .menu__list .menu_item a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #DBE4F1;
}
.header .header__menu .menu__list .menu_item a:hover {
  text-decoration: underline;
}

.top-content {
  background: url(../img/BG.jpg) no-repeat top left;
}
.top-content .content__container {
  max-width: 605px;
  width: 38%;
  padding: 10px 0;
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;
}
.top-content .content__container .content__body .content__title {
  font-family: "Inter", sans-serif;
  font-size: 46px;
  color: #FFFFFF;
  letter-spacing: -0.3px;
  line-height: 147.8260869565%;
  padding-bottom: 5px;
}
.top-content .content__container .content__body .content__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #DBE4F1;
  line-height: 170%;
  padding-bottom: 27px;
}
.top-content .content__container .content__body .content__button {
  padding-bottom: 11px;
}
.top-content .content__container .content__body .content__button a {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #0F3D33;
  line-height: 118.75%;
  background-color: #50E3C2;
  border-radius: 3px;
  padding: 15px 28px 16px 29px;
}
.top-content .content__container .content__body .content__note {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #DBE4F1;
  line-height: 200%;
  padding-bottom: 90px;
}

.main-section {
  width: 100%;
  background-color: #FFFFFF;
}
.main-section .section__container {
  max-width: 765px;
  width: 50%;
  padding: 0 15px;
  margin: 0 auto;
}
.main-section .section__container .section__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-section .section__container .section__content .content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 89px;
}
.main-section .section__container .section__content .content-top .title {
  margin-right: 65px;
}
.main-section .section__container .section__content .content-top .button a {
  font-weight: 600;
}
.main-section .section__container .section__content .content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-section .section__container .section__content .content__form .form__title {
  font-weight: bold;
  font-size: 38px;
  line-height: 131.5789473684%;
  margin-top: 121px;
  margin-bottom: 29px;
}
.main-section .section__container .section__content .content__form .form__article {
  border: 1px solid #E8E8EA;
  -webkit-box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
          box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
  border-radius: 10px;
  margin-bottom: 120px;
  padding-top: 50px;
  padding-right: 50px;
}
.main-section .section__container .section__content .content__form .form__article .forms form input {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 357.1428571429%;
  color: #323232;
  border: 1px solid #E8E8EA;
  border-radius: 3px;
  padding: 10px 250px 10px 16px;
  margin-left: 51px;
}
.main-section .section__container .section__content .content__form .form__article .attachment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}
.main-section .section__container .section__content .content__form .form__article .attachment .form__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 357.1428571429%;
  color: #323232;
  margin-top: 27px;
  margin-left: 50px;
}
.main-section .section__container .section__content .content__form .form__article .attachment .form__attach {
  background-color: #F2F5F8;
  border-radius: 3px;
  padding-left: 15px;
  margin-right: 49px;
  margin-top: 20px;
}
.main-section .section__container .section__content .content__form .form__article .attachment .form__attach li {
  background: url(../img/icon.png) no-repeat center left;
}
.main-section .section__container .section__content .content__form .form__article .attachment .form__attach li a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 357.1428571429%;
  color: #323232;
  margin-left: 20px;
  padding: 9px 12px 9px 0;
}
.main-section .section__container .section__content .content__form .form__article .button {
  margin-bottom: 50px;
  margin-left: 50px;
  text-align: center;
}
.main-section .section__container .section__content .content__form .form__article .button a {
  font-weight: 600;
  font-size: 16px;
  line-height: 84.2105263158%;
  background-color: rgba(80, 227, 194, 0.14);
  border-radius: 3px;
  padding: 15px 210px;
}

.footer {
  width: 100%;
  background: linear-gradient(315.06deg, #152649 5%, #4F525C 100%);
}
.footer .footer__container {
  max-width: 1200px;
  width: 70%;
  padding: 0 15px;
  margin: 0 auto;
}
.footer .footer__container .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer .footer__container .footer__content .footer__menu .menu__list {
  margin-top: 60px;
  margin-bottom: 86px;
}
.footer .footer__container .footer__content .footer__menu .menu__list .menu__item-main a {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 212.5%;
  color: #F8FBFE;
}
.footer .footer__container .footer__content .footer__menu .menu__list .menu__item-main a:hover {
  text-decoration: underline;
}
.footer .footer__container .footer__content .footer__menu .menu__list .menu__item-main .item-main {
  font-size: 14px;
  line-height: 228.5714285714%;
  color: #DBE4F1;
}
.footer .footer__container .footer__content .footer__menu .menu__list .menu__item-main .item__list {
  margin-top: 30px;
}
.footer .footer__container .footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 41px;
}
.footer .footer__container .footer__copy .copy__text {
  font-size: 12px;
  line-height: 150%;
  color: #DBE4F1;
}
.footer .footer__container .footer__copy .copy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__container .footer__copy .copy__list .copy__item a {
  font-size: 12px;
  line-height: 150%;
  color: #DBE4F1;
  margin-left: 30px;
}
.footer .footer__container .footer__copy .copy__list .copy__item a:hover {
  text-decoration: underline;
}
.footer .footer__container .footer__copy .footer__image img {
  margin-left: 19px;
}